services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quiz_db
    ports:
      - "5433:5432"
    volumes:
      - drs_pgdata:/var/lib/postgresql/data

volumes:
  drs_pgdata:
